@font-face {
  font-family: 'Lode Web';
  font-display: block;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url('woff/Lode-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Lode Web';
  font-display: block;
  font-weight: 400;
  font-stretch: normal;
  font-style: italic;
  src: url('woff/Lode-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Lode Web';
  font-display: block;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  src: url('woff/Lode-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Lode Web';
  font-display: block;
  font-weight: 700;
  font-stretch: normal;
  font-style: italic;
  src: url('woff/Lode-BoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Lode Dark Web';
  font-display: block;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url('woff/LodeDark-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Lode Dark Web';
  font-display: block;
  font-weight: 400;
  font-stretch: normal;
  font-style: italic;
  src: url('woff/LodeDark-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Lode Dark Web';
  font-display: block;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  src: url('woff/LodeDark-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Lode Dark Web', monospace;
  font-display: block;
  font-weight: 700;
  font-stretch: normal;
  font-style: italic;
  src: url('woff/LodeDark-BoldItalic.woff2') format('woff2');
}
